body{
    text-align: center;
    background-color: darkorange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
Ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: auto 0;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    background-color: yellow;
    padding: 10px;
    border-radius: 50%;
}
img{
    max-width: 100%;
    grid-column: 1 / 4;
    grid-row: 2/3;
    padding: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto ;
}
h1{
    text-align: center;
    text-decoration: solid;
    max-width: 100%;
    grid-column: 1 / 4;
    grid-row: 1/2;
}
h2{
    text-decoration: solid;
}
section{
    text-align: center;
    max-width: 90%;
    grid-row: 3/4;
    border-radius: 50%;
    background-color: yellow;
    padding: 20px;
    border-radius: 50%;
    margin: 5px;
}
main{ 
    display: grid;
    grid-template-columns: repeat(3, 333px);
    grid-template-rows: 100px 650px 350px;
}
#wrapper{
    margin: 0 auto;
    max-width: 999px;
}
footer{
    margin-top: 20px;
}