:root {
  /* change the values below to your colors from your palette */
  --primary-color: #000000   ;
  --secondary-color: #f5b800 ;
  --accent1-color: #fffb00;
  --accent2-color: rgb(255, 0, 0);

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon";
  --paragraph-font: "IM Fell French Canon";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #a03737;  /* headlines on a white background */ 
  --headline-color-on-color: rgb(255, 255, 255); /* headlines on a colored background */ 
  --paragraph-color-on-white: #ffc310; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #3b860a  ;
  --nav-link-color: #b3278d;
  --nav-background-color: #2f9696;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #02a450;
}
body{
    max-width: max-content 100%;
    margin: 0;
    text-align: center;
    background-color: #fcfbfb; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p a h1 h2 h4{
    font-size: larger;
}
main section img {
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: repeat(1fr, 10);
}
h1{
    color: #fcfbfb;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.book, .join{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
#background {
    height: 725px;
}
header {
    background-color:rgba(20,30,13, .7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns: 150px auto;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 60px;

}
.card-img, .mountains {
    width: 100%;
}
.rivers-card{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.camping-card{
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}
.rapids-card {
    grid-column: 7 / 10; 
    grid-row: 2 / 3;
}
#background {
    grid-column: 1 / 11; 
    grid-row: 4 / 9;
    background-color: #d9c2a3;
}
.mountains {
    width: 100%;
    grid-column: 1 / 7; 
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 50px;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-img{
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 200px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}    
.msg {
  background-color: #6f7364;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6 / 9; 
  grid-row: 6 / 7;
  font-size: larger;
  color: #fcfbfb;
  width: 100%;
}
.msg p{
    padding-bottom: 15px;
}
footer p {
    font-size: larger;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}    
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer p a{
    color: #fcfbfb;
    text-decoration: none;
}
footer .social img{
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            