
:root {
 
  --primary-color: #808f85;
  --secondary-color: black;
  --accent1-color: #6b0f1a;
  --accent2-color: #595959;
  --accent3-color: #dce0d9;


  --heading-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --paragraph-font: "IM Fell French Canon";


  --headline-color-on-white: #6b0f1a; 
  --headline-color-on-color: #dce0d9; 
  --paragraph-color-on-white: black;
  --paragraph-color-on-color: #dce0d9;  
  --paragraph-background-color: #595959;
  --nav-link-color: #dce0d9;
  --nav-background-color: #6b0f1a;
  --nav-hover-link-color: #dce0d9;
  --nav-hover-background-color: #e42020;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
footer{
    background-color: #6b0f1a;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #dce0d9;
}
footer p{
  color:#dce0d9;
}
footer img{
    padding: 10px;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
